<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access User - LostedIn</title>
    <link href="./access-user.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="Access-user">
        <h2 class="Access-user-h2">Welcome!</h2>
        <div class="Access-user-container">
            <a href="confirmation.html" class="user-profile-button">
                <img src="https://cdn.anisearch.fr/images/character/cover/0/29_400.webp" alt="User Photo" class="user-photo" width="60px" height="60px" style="border-radius: 20%;">
                <span class="user-name">Naruto Uzumaki</span>
            </a>
        </div>
    </div>
</body>
</html>