<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Confirmation - LostedIn</title>
    <link th:href="@{/access-user.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="Access-user">
        <h2 class="Access-user-h2">Confirm Your Account</h2>
        <div class="Access-user-container">
            <a href="confirmation.html" class="confirm-profile-button">
                <img src="https://cdn.anisearch.fr/images/character/cover/0/29_400.webp" alt="User Photo" class="confirm-photo" width="60px" height="60px" style="border-radius: 20%;">
                <span class="confirm-name">Naruto Uzumaki</span>
            </a>
            <button type="submit" class="Access-user-button">Confirm Account</button>
            <p class="Access-user-p">Please click the button below to confirm your account.</p>
        </div>
    </div>
</body>
</html> 