<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logged Users</title>
</head>
<body>

    <h1>This is Logged Users List</h1>

    <div th:if="isLoggedIn" th:each="user : ${users}">
        <p th:text="'Username: '+${user.username}"></p>
        <p th:text="'Email: '+${user.email}"></p>
        <img th:src="${user.avatarUrl}" alt="avatar">
    </div>

    <div th:if="${!isLoggedIn}" th:text="${message}"></div>

    <button>Login</button>

    <script>
        function togglePassword(inputId) {
            const input = document.getElementById(inputId);
            const icon = input.nextElementSibling;

            if (input.type === 'password') {
                input.type = 'text';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            } else {
                input.type = 'password';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            }
        }
    </script>

</body>
</html>